Body {
    font-family: 'Arial'; 
    color: '#777';
    background-color: #777;
    width: '960px';
    font-size: '18px';
}

header, nav, section, aside, footer {
    background:white;
}

header {
    padding: 30px;
    text-align: center;
    color:#777;
}

nav {
    padding: 30px;
    text-align: center;
    color:#777;
}

article {
    color: 'ebebeb';
    background: '#777'
}

footer {
    padding: 30px;
    text-align: center;
    color:#777;
}

.container1 {
    width: 960px;
    height: 50px;
    background-color:hotpink;
}
.container2 {
    height: 200px;
    background-color:hotpink;
    text-align:center;
    float:right;
}